{#
| Variable        | Type       | Description                    |
|-----------------|------------|--------------------------------|
| products        | Products[] |                                |
| position        | Int        | Sorting number start from zero |
#}
<section class="s-block s-block--latest-products container mt-6 sm:mt-8">
    <div class="s-block__title">
      <h2>{{ trans('blocks.home.latest_products') }}</h2>
      <h2>تألق و كن مميزاً مع منتجاتنا الرائعة</h2>
    </div>
    
    <salla-products-list source="all"></salla-products-list>
</section> 
