{#
| Variable        | Type       | Description                    |
|-----------------|------------|--------------------------------|
| products        | Products[] |                                |
| position        | Int        | Sorting number start from zero |
#}
<section class="s-block s-block--latest-products container mt-6 sm:mt-8">
    <div class="s-block__title">
<h2>أحدث المنتجات</h2>
    </div>
    
    <salla-products-list source="all"></salla-products-list>
</section> 
